.checkboxWrapper {
    border: var(--mantine-border);
    border-radius: var(--mantine-radius-md);

    &[data-checked] {
        background-color: var(--mantine-color-gray-0);
    }
}

.checkboxWrapper:hover{
    background-color: var(--mantine-color-gray-0);
}

.body {
    align-items: center;
    padding-left: var(--mantine-spacing-sm);
}

.label_wrapper {
    flex-grow: 1;
    user-select: none;
}

.label {
    padding: var(--mantine-spacing-sm);
    padding-left: calc(var(--checkbox-size) + (2 * var(--mantine-spacing-sm)));
    margin-left: calc((var(--checkbox-size) + var(--mantine-spacing-sm)) * -1);
}

.description {
    margin-top: rem(8px);
    color: var(--mantine-color-dimmed);
    font-size: var(--mantine-font-size-xs);
}
